@import url("https://cloud.typography.com/6104776/6029772/css/fonts.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#header-wrapper {
  background: #404040;
  border-bottom: 4px solid #7a7a7a;
}
#header {
  color: #fff;
  text-align: center;
}
#header a {
  display: inline-block;
}
#header #logo-svg {
  width: 8rem;
  height: 2rem;
}
#header #logo-svg path {
  fill: #fff;
}
#header svg {
  width: 100%;
}
#header svg * {
  fill: #ffce00;
}
#sidebar {
  background-color: #333;
}
#sidebar ul.topics > li.parent,
#sidebar ul.topics > li.active {
  background-color: #292929;
}
#body-inner {
  margin: 0 auto 5rem auto;
}
date {
  display: block;
  text-align: center;
}
.gf-red {
  color: #ff5252;
}
.gf-tab {
  border-bottom: 2px solid #ff5252;
  font-weight: bold;
  text-transform: uppercase;
  zoom: 0.75;
  padding: 0px 8px 8px 8px;
  text-align: center;
  color: #ff5252;
  font-size: 14px;
  line-height: 12px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
p.file {
  color: #a2a2a2;
  font-family: "Consolas", menlo, monospace;
  margin-bottom: 0;
}
p.file + p {
  display: none;
}
p.file + p + pre {
  margin-top: 0;
}
#home h1 {
  background: #ffce00;
  padding-top: 1.5rem;
  margin-bottom: 0;
  margin-top: 3rem;
}
#home .padding {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}
#home .padding li {
  list-style-type: disc;
}
#home .padding h2 {
  font-size: 1.1rem;
  text-align: center;
}
#home .padding p,
#home .padding li {
  text-align: left;
}
.download {
  margin-bottom: 2rem;
  text-align: center;
}
.download a {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 2px;
  box-shadow: 4px 4px rgba(0,0,0,0.1);
  background: #ffce00;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(128,128,128,0.8);
  font-size: 1.5rem;
}
.download a:hover {
  background: #fd1;
}
#body .download a.highlight::after {
  background: transparent;
}
h2 {
  text-transform: none;
}
figure {
  background-color: #ddd;
  padding: 0.5rem;
  text-align: center;
}
#body figure img {
  margin: 0 auto;
}
pre[class*="language-"],
.entry-content pre {
  background: #f6f6f6;
  border: 1px solid #eee;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  position: relative;
  padding: 0;
}
code {
  border: 0;
  padding: 0;
  margin: 0;
}
code + .copy-to-clipboard {
  background-image: url("/images/clippy-dark.svg");
  background-size: 12px 12px;
  height: 16px;
}
pre,
pre[class*="language-"],
code,
code[class*="language-"] {
  font-family: "Operator Mono A", "Operator Mono B", "Fira Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
pre[class*="language-"] code {
  display: block;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  padding: 1.5em;
}
pre .command-line-prompt {
  border-right: 1px solid #ddd;
}
pre .command-line-prompt > span::before {
  color: #ccc;
}
pre .copy-to-clipboard {
  background-color: #ccc;
  background-image: url("/images/clippy.svg");
}
.line-highlight {
  margin-top: 1.5em;
}
pre[class*="language-"],
.entry-content pre[class*="language-"] {
  padding: 0;
  margin: 0.5em 0;
}
pre.line-numbers,
.entry-content pre.line-numbers {
  padding-left: 0.5em;
}
.line-numbers .line-numbers-rows {
  border-right: 1px solid #ddd;
  left: -1em;
  top: 1.5em;
}
pre.line-numbers code,
.entry-content pre.line-numbers code {
  padding-left: 3em;
}
.line-numbers-rows > span::before {
  color: #bbb;
}
pre.line-numbers[rel],
.entry-content pre.line-numbers[rel] {
  padding-left: 0;
}
pre.line-numbers[rel] .line-numbers-rows,
.entry-content pre.line-numbers[rel] .line-numbers-rows {
  left: -0.4em;
}
pre.line-numbers[rel] code,
.entry-content pre.line-numbers[rel] code {
  padding-left: 3.4em;
}
pre[rel] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
pre[rel="CSS"]::before {
  background: #1a8fe3;
}
pre[rel]::before {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  font-size: 0.9em;
  font-weight: 300;
  content: attr(rel);
  color: #fff;
  background: #999;
  padding: 1px 0 1em;
  text-indent: 15px;
  width: 30px;
  line-height: 2;
  position: relative;
  top: auto;
  left: auto;
}
pre[rel="html"]::before,
pre[rel="css"]::before,
pre[rel="jsx"]::before,
pre[rel="ts"]::before,
pre[rel="json"]::before,
pre[rel="js"]::before {
  text-transform: uppercase;
}
pre[rel="Ruby(IRB)"] {
  min-height: 6.8em;
}
pre[rel="Ruby"]::before,
pre[rel="Ruby (IRB)"]::before {
  background: #d11149;
}
pre[rel="JavaScript"],
pre[rel="TypeScript"] {
  min-height: 7em;
}
pre[rel="js"]::before,
pre[rel="jsx"]::before,
pre[rel="JavaScript"]::before,
pre[rel="TypeScript"]::before {
  background: #ff9800;
}
pre[rel="JSON"]::before {
  background: #624763;
}
pre[rel="Terminal"] {
  min-height: 6.2em;
}
pre[rel="Terminal"]::before {
  background: #2f1847;
}
pre[rel="MetaSploit"] {
  min-height: 6.8em;
}
pre[rel="JSON"]::before,
pre[rel="Terminal"]::before {
  letter-spacing: 1px;
}
.copy-to-clipboard:hover {
  background-color: #ddd;
}
.shell {
  box-shadow: rgba(0,0,0,0.2) 0px 3px 20px;
  margin: 0 auto;
  max-width: 60em;
}
.shell.macos {
  border-radius: 5px 5px 5px 5px;
}
.shell.macos .shell-body {
  border: 1px solid #2e4759;
  border-radius: 0 0 5px 5px;
}
.shell.macos pre {
  border-radius: 0;
}
.shell.windows {
  border: 1px solid #1883d7;
}
.shell.windows pre {
  border-radius: 0;
}
.shell img {
  margin: 0 !important;
}
.shell .controls {
  float: left;
}
.shell pre {
  background-color: #2e4759;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  font-weight: 500;
  font-family: "Operator Mono", "Fira Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  line-height: 1.25;
  white-space: pre !important;
}
.shell pre .terminal-commands {
  overflow-x: scroll;
}
.shell pre .copy-to-clipboard:hover {
  background-color: rgba(255,255,255,0.2);
}
.shell .copy-to-clipboard {
  background-image: url("/images/clippy-light.svg");
  background-color: transparent;
}
.shell .command-line-prompt {
  border: 0;
  margin-right: 0;
  font-weight: 300;
}
.shell .output-line {
  color: #eee;
  position: absolute;
  left: 10px;
  font-weight: 300;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Operator Mono A", "Operator Mono B", "Fira Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
.bar {
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  float: none;
}
.macos .bar {
  border: 1px solid rgba(223,223,223,0.4);
  border-radius: 5px 5px 0 0;
  background-color: #f6f6f6;
  background: linear-gradient(to bottom, #f0f0f0 0%, #eceeee 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.macos .controls {
  padding-left: 10px;
  position: absolute;
}
.macos .windows-controls {
  display: none;
  display: none;
}
.macos .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 4px 0 0;
  box-sizing: content-box;
}
.windows .bar {
  background: #fff;
  box-sizing: content-box;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: left;
}
.windows .windows.icon {
  margin: 0 8px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.windows .windows.icon img {
  height: 16px;
}
.macos .windows,
.windows .macos {
  display: none;
}
.windows-controls {
  background-image: url("/images/windows-controls.png");
  float: right;
  width: 137px;
  height: 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .windows-controls {
    background-image: url("/images/windows-controls@2x.png");
    background-size: 137px 30px;
  }
}
.windows .dot {
  display: none;
}
.red {
  background: #ff6057;
  border: 1px solid #e14640;
}
.yellow {
  background: #ffbd2e;
  border: 1px solid #dfa123;
}
.green {
  background: #27c93f;
  border: 1px solid #1dad2b;
}
.shell-body {
  font-size: 18px !important;
}
.shell .copy-to-clipboard.tooltipped-s:after,
.shell .copy-to-clipboard.tooltipped-n:after {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}
.aside {
  margin: 2rem auto;
  max-width: 50em;
  position: relative;
  padding-bottom: 1rem;
  text-shadow: rgba(0,0,0,0.8) 1px 0 1px;
  color: #fff;
}
.aside h4 {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #fff;
}
.aside .emoji {
  float: left;
  font-size: 400%;
  margin: 0 1rem;
}
.aside .body {
  padding: 0 1rem;
}
.aside a {
  color: #ffce00;
}
#body .aside a.highlight:after {
  background-color: #ffce00;
}
.aside code {
  background: rgba(64,64,64,0.2);
  color: #fff;
  font-size: 100%;
  padding: 2px;
}
.aside.aside-tip {
  background-color: #e6f9e6;
  background-image: url("/images/y-pattern.png"), linear-gradient(24deg, #5cb85c 0%, #77c8be 100%);
}
.aside.aside-tip h4 {
  background: rgba(92,184,92,0.8);
}
.aside.aside-note,
.aside.aside-info {
  background-color: #2b59c3;
  background-image: url("/images/y-pattern.png"), linear-gradient(24deg, #2b59c3 0%, #77c8be 100%);
}
.aside.aside-note h4,
.aside.aside-info h4 {
  background: rgba(43,89,195,0.4);
}
.aside.aside-danger {
  background-color: #cc2936;
  background-image: url("/images/sayagata.png"), linear-gradient(24deg, #c92936 0%, #ebbab9 100%);
}
.aside.aside-danger h4 {
  background: rgba(201,41,54,0.4);
}
.page-heading {
  color: #fff;
  margin: 0 -6rem;
  text-align: center;
  max-width: 100vw;
}
@media only all and (max-width: 47.938em) {
  .page-heading {
    margin: 0 -1rem;
  }
}
.page-heading div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  max-width: 100vw;
}
body[data-url="/setup-mac/"] h1 {
  display: none;
}
body[data-url="/setup-mac/"] .page-heading {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  font-size: 4rem;
  text-shadow: 1px 0 1px #666;
  background-color: #f58122;
  background-image: linear-gradient(#65b849 17%, #f7b423 17%, #f7b423 34%, #f58122 34%, #f58122 50%, #de3a3c 50%, #de3a3c 66%, #943f96 66%, #943f96 82%, #009fd9 82%, #009fd9 86%);
}
body[data-url="/setup-windows/"] h1 {
  display: none;
}
body[data-url="/setup-windows/"] .page-heading {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  font-size: 4rem;
  text-shadow: 1px 0 1px #666;
  background-color: #0079d7;
}
body[data-url="/setup-mac/node/"] h1,
body[data-url="/setup-windows/node/"] h1 {
  display: none;
}
body[data-url="/setup-mac/node/"] .page-heading,
body[data-url="/setup-windows/node/"] .page-heading {
  background-color: #999;
  background-image: url("/images/js-pattern.png"), linear-gradient(24deg, #999 0%, #d3d3d3 100%);
}
body[data-url="/setup-mac/node/"] .page-heading svg,
body[data-url="/setup-windows/node/"] .page-heading svg {
  width: 12rem;
  max-width: 90%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  body[data-url="/setup-mac/node/"] .page-heading,
  body[data-url="/setup-windows/node/"] .page-heading {
    background-image: linear-gradient(24deg, #999 0%, #d3d3d3 100%);
  }
  body[data-url="/setup-mac/node/"] .page-heading div,
  body[data-url="/setup-windows/node/"] .page-heading div {
    background-image: url("/images/js-pattern@2x.png");
    background-size: 192px 189px;
  }
}
body[data-url="/setup-mac/git/"] h1,
body[data-url="/setup-windows/git/"] h1 {
  display: none;
}
body[data-url="/setup-mac/git/"] .page-heading,
body[data-url="/setup-windows/git/"] .page-heading {
  font-size: 2rem;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  background-color: #f54d27;
  background-image: url("/images/git-pattern.png"), linear-gradient(24deg, #f54d27 0%, #f571b5 100%);
}
body[data-url="/setup-mac/git/"] .page-heading svg,
body[data-url="/setup-windows/git/"] .page-heading svg {
  margin-right: 1rem;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  body[data-url="/setup-mac/git/"] .page-heading,
  body[data-url="/setup-windows/git/"] .page-heading {
    background-image: linear-gradient(24deg, #f54d27 0%, #f571b5 100%);
  }
  body[data-url="/setup-mac/git/"] .page-heading div,
  body[data-url="/setup-windows/git/"] .page-heading div {
    background-image: url("/images/git-pattern@2x.png");
    background-size: 267px 267px;
  }
}
body[data-url="/setup-mac/chrome/"] h1,
body[data-url="/setup-windows/chrome/"] h1 {
  display: none;
}
body[data-url="/setup-mac/chrome/"] .page-heading,
body[data-url="/setup-windows/chrome/"] .page-heading {
  background-color: #41b3be;
  background-image: linear-gradient(to right, #41b3be 0%, transparent 50%), linear-gradient(to left, #ffc983 15%, transparent 70%), linear-gradient(to bottom, #9bdea9 0%, transparent 100%), linear-gradient(to top, #a63680 15%, transparent 100%);
}
body[data-url="/setup-mac/chrome/"] .page-heading svg,
body[data-url="/setup-windows/chrome/"] .page-heading svg {
  width: 20rem;
  max-width: 90%;
}
body[data-url="/setup-mac/terminal/"] h1,
body[data-url="/setup-windows/terminal/"] h1 {
  display: none;
}
body[data-url="/setup-mac/terminal/"] .page-heading,
body[data-url="/setup-windows/terminal/"] .page-heading {
  font-family: "Operator Mono A", "Operator Mono B", "Fira Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 4rem;
  background-color: #590df6;
  background-image: url("/images/y-pattern.png"), linear-gradient(34deg, #010efd 0%, #fe0c00 100%);
}
body[data-url="/tools/code-extensions/"] h1,
body[data-url="/tools/code-keybindings/"] h1 {
  display: none;
}
body[data-url="/setup-mac/editor/"] .page-heading,
body[data-url="/setup-windows/editor/"] .page-heading,
body[data-url="/tools/code-extensions/"] .page-heading,
body[data-url="/tools/code-keybindings/"] .page-heading {
  color: #66595c;
  font-family: "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  font-size: 4rem;
  letter-spacing: 1rem;
  background-color: #92d2c5;
  background-image: linear-gradient(to bottom, #92d2c5 0%, #a7c799 100%);
}
body[data-url="/setup-mac/editor/"] .page-heading svg,
body[data-url="/setup-windows/editor/"] .page-heading svg,
body[data-url="/tools/code-extensions/"] .page-heading svg,
body[data-url="/tools/code-keybindings/"] .page-heading svg {
  margin-right: 2rem;
  width: 5rem;
}
body[data-url="/setup-mac/editor/"] .page-heading:first-of-type,
body[data-url="/setup-windows/editor/"] .page-heading:first-of-type,
body[data-url="/tools/code-extensions/"] .page-heading:first-of-type,
body[data-url="/tools/code-keybindings/"] .page-heading:first-of-type {
  color: #fff;
  font-family: "Segoe UI", "Helvetica Neue", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  font-size: 4rem;
  letter-spacing: normal;
  background: #373277;
}
body[data-url="/setup-mac/editor/"] .page-heading:first-of-type svg,
body[data-url="/setup-windows/editor/"] .page-heading:first-of-type svg,
body[data-url="/tools/code-extensions/"] .page-heading:first-of-type svg,
body[data-url="/tools/code-keybindings/"] .page-heading:first-of-type svg {
  margin-right: 2rem;
  width: 5rem;
}
body[data-url="/setup-mac/ssh/"] h1,
body[data-url="/setup-windows/ssh/"] h1 {
  display: none;
}
body[data-url="/setup-mac/ssh/"] .page-heading,
body[data-url="/setup-windows/ssh/"] .page-heading {
  font-family: "Operator Mono A", "Operator Mono B", "Fira Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 4rem;
  background-color: #590df6;
  background-image: url("/images/y-pattern.png"), linear-gradient(34deg, #010efd 0%, #fe0c00 100%);
}
body[data-url="/setup-mac/github/"] h1,
body[data-url="/setup-windows/github/"] h1,
body[data-url="/tools/github-desktop/"] h1 {
  display: none;
}
body[data-url="/setup-mac/github/"] .page-heading,
body[data-url="/setup-windows/github/"] .page-heading,
body[data-url="/tools/github-desktop/"] .page-heading {
  font-family: "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  font-size: 6.2rem;
  background-color: #590df6;
  background-image: url("/images/y-pattern.png"), linear-gradient(34deg, #3e2c56 0%, #2a1c3c 100%);
}
body[data-url="/setup-mac/github/"] .page-heading svg,
body[data-url="/setup-windows/github/"] .page-heading svg,
body[data-url="/tools/github-desktop/"] .page-heading svg {
  height: 5rem;
}
div.img {
  position: relative;
  margin: 0 auto 2rem;
}
div.img span {
  display: block;
  position: absolute;
  bottom: 0;
  background: #ffce00;
  padding: 1rem;
  box-shadow: 0px 5px 20px #999;
  font-size: 80%;
  text-align: center;
  width: 100%;
}
div.img.github-create-account {
  background-image: url("/images/github-01-create-account.png");
  background-size: 567px 502px;
  width: 567px;
  height: 502px;
}
div.img.github-fork-repo {
  background-image: url("/images/github-fork-repo.png");
  background-size: 567px 400px;
  width: 567px;
  height: 450px;
}
div.img.firebase-enable-github {
  background-image: url("/images/firebase-enable-github.png");
  background-size: 567px 400px;
  width: 567px;
  height: 450px;
}
div.img.github-oauth-new-registration {
  background-image: url("/images/github-oauth-new-registration.png");
  background-size: 567px 400px;
  width: 567px;
  height: 450px;
}
div.img.github-oauth-secrets {
  background-image: url("/images/github-oauth-secrets.png");
  background-size: 567px 400px;
  width: 567px;
  height: 450px;
}
div.img.firebase-github-secrets {
  background-image: url("/images/firebase-github-secrets.png");
  background-size: 567px 400px;
  width: 567px;
  height: 450px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  div.img.github-create-account {
    background-image: url("/images/github-01-create-account@2x.png");
  }
}
div.img.github-choose-plan {
  background-image: url("/images/github-02-choose-plan.png");
  background-size: 601px 464px;
  width: 601px;
  height: 464px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  div.img.github-choose-plan {
    background-image: url("/images/github-02-choose-plan@2x.png");
  }
}
div.img.github-settings {
  background-image: url("/images/github-03-settings-menu.png");
  background-size: 567px 454px;
  width: 567px;
  height: 454px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  div.img.github-settings {
    background-image: url("/images/github-03-settings-menu@2x.png");
  }
}
div.img.github-ssh-settings {
  background-image: url("/images/github-04-ssh-settings.png");
  background-size: 567px 454px;
  width: 567px;
  height: 454px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  div.img.github-ssh-settings {
    background-image: url("/images/github-04-ssh-settings@2x.png");
  }
}
div.img.github-new-ssh-key {
  background-image: url("/images/github-05-new-ssh-key.png");
  background-size: 567px 454px;
  width: 567px;
  height: 454px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  div.img.github-new-ssh-key {
    background-image: url("/images/github-05-new-ssh-key@2x.png");
  }
}
div.img.git-win-01-path,
div.img.git-win-02-https,
div.img.git-win-03-line-endings,
div.img.git-win-04-terminal,
div.img.git-win-05-extras,
div.img.vscode-setup {
  background-size: 499px 372px;
  background-repeat: no-repeat;
  background-position: center;
  width: 530px;
  height: 372px;
}
div.img.git-win-01-path {
  background-image: url("/images/git-win-01-path.png");
}
div.img.git-win-02-https {
  background-image: url("/images/git-win-02-https.png");
}
div.img.git-win-03-line-endings {
  background-image: url("/images/git-win-03-line-endings.png");
}
div.img.git-win-04-terminal {
  background-image: url("/images/git-win-04-terminal.png");
}
div.img.git-win-05-extras {
  background-image: url("/images/git-win-05-extras.png");
}
div.img.vscode-setup {
  background-image: url("/images/vscode-setup.png");
}
kbd {
  font-family: arial;
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  font-size: 11px;
  line-height: 1.4;
  color: #242729;
  text-shadow: 0 1px 0 #fff;
  background-color: #e1e3e5;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #fff inset;
  white-space: nowrap;
}
#body img.no-margin {
  margin: 0;
}
/*# sourceMappingURL=xtern.css.map */